/* .footer-container { */
    /* color: rgb(162, 186, 241); */
    /* font-size: 10px;
    position: fixed;
    bottom: 10px;
    margin-top: 15%;
    left: 6%;
  } */

/* .footer-text a {
    color: rgb(162, 186, 241); 
    font-size: 10px; 
    }

.footer-text a:hover {
color: #ffffff;
} */

/* a:hover {
    color: #e48628;;
}  */

  /* .footer-text {
    color: rgb(162, 186, 241);
    font-size: 10px; 
    text-align: center; 
    position: fixed;
    bottom: 10px;
    margin-top: 15%;
    left: 6%;
  } */