.footer-container { 
    position:sticky;
    /* bottom: 15px; */
    margin-top: 5%;
    align-items: center;
    text-align: center;
  }

.footer-text a {
  color: #396fed;
/* color: rgb(162, 186, 241);  */
  font-size: 10px; 
  position: relative;
  padding-left: 1%;
  }

.footer-text .source-style {  
/* footer source and asterisk style */
  color: #396fed;
/* color: rgb(162, 186, 241);  */
  font-size: 10px;
}

.footer-text a:hover {
color: #ffffff;
}