
/* z-index: -1; */

/* * {
  outline: 1px solid #000;
}  */

/* .index-bg { */
.second-background {
  filter: alpha(Opacity=90);
  opacity: 0.85;
  background-image: url("components/image/water_sky.jpeg");
  background-position: center;
  position: absolute;
}

/* --------------------NOT FOUND -------------------- */
.not-found {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3em;
  position: relative;
  top: -730px;
  color: #e48628;
}

.not-found img {
  border-radius: 15px;
  box-shadow: 6px 6px 10px 0px #969be1cc;
  width: 250px;
}
