
/* z-index: -1; */

/* * {
  outline: 1px solid #000;
}  */

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  /* background-image: url("/Users/judychue/Desktop/jellyfish_2/jellyfish-frontend/src/components/image/giphy (3).gif"); */
  /* background-image: url("/Users/judychue/Desktop/jellyfish_2/jellyfish-frontend/src/components/image/giphy.gif"); */
  background-image: url("/Users/judychue/Desktop/jellyfish_2/jellyfish-frontend/src/components/image/giphy (1).gif");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-family: monospace, bold;
  color: white;
  animation: neon 3s infinite;
}

@keyframes neon {
0%, 29%, 31%, 59%, 61%, 90% {
  text-shadow: 
  white 0 0 12px,
  #1077e4 0 0 35px,
  #e99311 0 0 34px;
}
50%, 50% {
  text-shadow: none;
}
}

.second-background {
  filter: alpha(Opacity=90);
  opacity: 0.85;
  background-image: url("components/image/water_sky.jpeg");
  background-position: center;
  position: absolute;
}

/* span {
  font-weight: bold;
} */
/* -------------HOME HEADER----------------- */
nav {
  text-align: center;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content:flex-start;
  margin: 10px;
  color: #e48628
  /* line-height: 150px; */
}

/* -------------HOME click for jellyfish----------------- */

nav a {
  color: #e48628;
  font-size: 90px
}

a {
  color: #e48628;
  text-decoration: none;
  font-size: 20px
}

a:hover {
  color: #ffffff;
} 

/* .no-hover:hover {
  color: #e48628;
}  */

/* -----------------------HOME-------------------- */
.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  position: relative;
  top: 10px;
/* add these top 2 to the index page */
  color: #ffffff;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
}
  /* color: #eea40f; */
  /* background-image: linear-gradient(60deg, #5783F2, #bacbf4);
  background-clip: text;
  color: transparent; */
  /* background-image: url("/image/Pelagiidae_-_Pelagia_noctiluca.jpeg"); */
/* }   */
    
.Content {
  text-align: center;
  margin-bottom: 420px; /* Space between content sections */
  margin-top: -100px;
}

/* ----------------------HOME jellyfish description-------------------- */
.jellyfish-description p {
  color: rgb(162, 186, 241); /* Changes the text color */
  max-width: 900px; /* Sets the maximum width */
  margin: 1%; /* Centers the paragraph if the parent is wider */
  /* margin: 0 auto;  */ /* Centers the paragraph if the parent is wider */
  /* width: 100vw; */
  height: 10vh;
  padding-top: -30px;
  font-size: small;
}

.AllJellyfishLinks {
  margin-top: 5px;
  margin-bottom: 5px; /* Adjust as needed */
  font-size: small;
}

/* ----------------------HOME PAGE jellyfish icon-------------------- */
.ImageContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 135px;
}

.Home img {
  width: 120px;
  position:relative;
  top: -408px
}

.inner {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: -25px;
  background-image:"image/water_sky.jpeg";
  font-size: medium;
}

.all-jellyfish {
  display: flex;
  align-content: flex-start;
  font-size: smaller;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 70%;
  top: -250px
}

.jellyfish-card {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 6px 6px 10px 0px  #969be1cc;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  height: 220px;
  width: 170px;
  padding: 10px 10px 10px 10px;
  position: relative;
  top: -2px
} 

.jellyfish-card img {
  border-radius: 15px;
  width: 115px;
  padding-bottom: -10px;
  color: white;
  margin-top: 25px;
  margin-bottom: -15px;
}

.jellyfish-detail {
  display: flex;
  flex-direction: row;
  background-color: #90b7f2;
  border-radius: 15px;
  box-shadow: 6px 6px 10px 0px #969be1cc;
  color: white;
  margin: auto;
  padding: 4px 10px 0px 0px;
  width:min-content;
  height: max-content;
  position:relative;
  top: -700px
}

.jellyfish-detail img {
  width: 180px;
  height:fit-content;
  border-radius: 12px;
  margin: 0 3em  3em;
  padding-bottom: 2px;
}

.image {
  /* display: block; */
  /* align-items: center; */
  width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
  padding-top: 2em;
  position: relative;
  /* top: -700px  */
}

input[type="submit"], button {
  background-color: #e48628;
  /* background-color: #5783f2; */
  border: none;
  border-radius: 8px;
  box-shadow: 6px 6px 10px 0px #969be1cc;
  color: white;
  font-weight: bold;
  padding-left: 1010px;
  padding: 0.7em 2em 0.7em 2em;
  position: relative;
}
/* -----------------SUBMIT NEW jellyfish form ----------------- */
input[type="submit"] {
  width: 25%;
  background-color: #428de8;
  /* background-color: #c1e2fa; */
}

input[type="submit"]:hover, button:hover {
  color: #3eb2f1;
  cursor: pointer;
}

.new-btn {
  font-size: 18px;
}

.not-found {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3em;
  position: relative;
  top: -730px;
  color: #e48628;
}

.not-found img {
  border-radius: 15px;
  box-shadow: 6px 6px 10px 0px #969be1cc;
  width: 250px;
}
/* -----------------Add a NEW jellyfish form ----------------- */
.NewEdit {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin: auto;
  width: 70%;
  position: relative;
  top: -40px
} 

/* ----------------------NEW jellyfish form-------------------- */
form {
  background-color: #89dcf1;
  /* background-color: #9cd5fd; */
  border-radius: 18px;
  box-shadow: 6px 6px 10px 0px #969be1cc;
  font-weight: bold;
  margin: auto;
  margin: 0 0 1em 0;
  padding: .5em 1.5em 1.5em 2.5em;
  width: 95%;
}
/* -----------------User type in NEW jellyfish form ----------------- */
input {
  display: block;
  margin: auto;
  margin-bottom: 1.5em;
  width: 90%;
}

input[type="checkbox"] {
  margin: 0;
  width: 25%;
}

/* --------------------------FOOTER------------------------------ */
footer {
  color: rgb(162, 186, 241);
  font-size: 10px;
  position: fixed;
  bottom: 10px;
  margin-top: 15%;
  left: 6%;
}

@media (max-width: 768px) {
  .pose-detail{
    width: 100%;
  }

  .detail{
    width: 100%;
  }
}
