/* NewJellyfish.css */
.second-background {
    background-image: url('../components/image/water_sky.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  