/* NOTE: Moved to NewJellyfish.css 3.28.24*/

body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    /* background-image: url("/Users/judychue/Desktop/jellyfish_2/jellyfish-frontend/src/components/image/giphy (3).gif"); */
    /* background-image: url("/Users/judychue/Desktop/jellyfish_2/jellyfish-frontend/src/components/image/giphy.gif"); */
    background-image: url("/Users/judychue/Desktop/jellyfish_2/jellyfish-frontend/src/components/image/giphy (1).gif");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }
  
  /* -----------------------HOME-------------------- */
.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    /* padding-top: 0px; */
    position: relative;
    /* top: -10px; */

/* ------------Welcome header------------------ */
    color: #ffffff;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    html {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
    
.Content {
    text-align: center;
    margin-bottom: 120px; 
    margin-top: -20px;
}

/* -------------HOME click for jellyfish----------------- */
/* NOTE: Moved to HEADER.css 3.28.24 */

a {
    color: coral;
    text-decoration: none;
    font-size: 22px;
    transition: transform 0.5s ease, color 0.5s ease;
    display: inline-block; 
    /* Set display to inline-block, if this wasnt applied the transform didnt work*/
  }

  a:hover {
  color: #ffffff;
  /* transform: scale(1.25); */
  } 

  @keyframes flashing {
    0%, 100% { opacity: 2; }
    50% { opacity: 0.7; }
  }
  
  a:hover {
    color: #ffffff;
    /* transform: scale(1.25); */
    animation: flashing 1s infinite; 
}
/* Apply the flashing animation */


/* ---------------------HOME jellyfish description------------------ */

.jellyfish-description p {
    color: rgb(162, 186, 241); 
    max-width: auto; 
    margin: 5px; 
    line-height: 155%;
    width: 75vw;
    /* height: vh; */
    /* margin-bottom: 1.5rem; */
    padding-top: 7px;
    font-size: small;
}
  
.AllJellyfishLinks {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 2rem;
}
  
/* ----------------------HOME PAGE jellyfish icon-------------------- */
.ImageContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 135px;
    /* margin-bottom: 2rem; */
    padding-bottom: 8rem;
}

.Home img {
    width: 120px;
    position:relative;
    top: -115px
}