/* .container {
    max-width: 800px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  } */

  /* this is what Jose said I shoul dhave on pages that use this 2nd bkground image */
  /* body 
  .second-background {
    filter: alpha(Opacity=90);
    opacity: 0.85;
    background-image: url("components/image/water_sky.jpeg");
    background-position: center;
    position: absolute; */
/* not used */
    /* z-index: 1; */
  /* } */

  /* ----------------------SHOW PAGE jellyfish-------------------- */
/* NOTE: Moved to Show.css 3.28.24 */
  
  /* ---------????----------------- */
  /* .jellyfish-page { 
    align-items: center;
    border-radius: 15px;  
    overflow: hidden;
    width: 810px; */
    /* height: 380px; */
    /* margin-top: 15%; */
    /* object-fit: cover; */
    /* z-index: 100; */
  /* } */

.second-background {
    background: url('water_sky.jpeg') 
    no-repeat center center fixed;
    background-size: cover;
    /* font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    background-image: url("components/image/water_sky.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    top: 0;
    width: 100vw;
    height: 100vh;
    /* z-index: 4; */
  }
  
  .body {
    display: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* position: relative; */
    /* margin-top: 2rem; */
    background-image:"image/water_sky.jpeg";
    align-items: center;
    }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 260px;
    left: 50%;
    transform: translateX(-50%);
    gap: 250px;
}
  /* NEW jf button on index page */
  input[type="submit"], button {
    background-color: coral;
    border: none;
    border-radius: 8px;
    box-shadow: 6px 6px 10px 0px #969be1cc;
    color: white;
    font-weight: bold;
    padding: 0.7em 2em 0.7em 2em;
    position: relative;
}
    
.show-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: none;
    width: 0%; /* Full width if you want to expand the container */
    /* padding: 0; */
     /* Padding around the content */
}

.inner {
    color:#ffffff;
    display: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* position: relative; */
    margin-top: 2rem;
    background-image:"image/water_sky.jpeg";
    font-size: medium;
    align-items: center;
  }
