/* .container {
    max-width: 800px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  } */

  /* .show-indiv-jf {
    max-width: 800px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  } */